.main {
    text-align: center;
}

body {
    background-color: rgb(255, 213, 0);
}

.title {
    text-align: center;
    font-weight: bold;
}


.category {
    color: red;
    position: relative;
    left: 10em;
    width: 700px;
    font-weight: bold;
    text-align: left;
    padding: 0 10px;
}

.ulText {
    list-style: none;
    display: flex;
    gap: 160px;
    margin-left: 130px;
}

.ulimg {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-left: 130px;
}

img {
    height: 160px;
    width: 150px;
    border-radius: 50%;
}
.row-container{

    padding: 0 160px;
}
.row-container ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.row-container li {
    margin-right: 5em; 
}

.row-container img {
    max-width: 100%;
    height: auto;
}
